
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;




}

body {
    font-family: sans-serif;

}

.container {
    display: flex;



}

.header {
    background-color: grey;
    padding: 40px 500px 0px;
    height: 150px;
    background-image: url("/img/Tecnologia\ profissional\ azul\ cartão\ de\ visita.png");
    text-align: center;
    
   
}

.header em {
    color: white;
}
 


.navbar {
   width: 25%;
   background: #090127;
   background-color: white;


}



.content {
    width: 76%;
    background: #d8d8d8;
    padding: 30px;
    margin: 0 0 40px 0px;
    border-radius: 20px 0;
    margin-top: 17px;
    padding-bottom: 205px;


}

.navbar ul {
    list-style: none;



}

.navbar ul li a {
     padding: 8px 0px;
     display: block;
     margin: 20px;
     background:rgb(3, 3, 84);
     border-radius: 5px 0;
     text-align: center;
     text-decoration: none;
     color: white;
     margin-top: 17px;
     margin-left: 30px;





}

.footer{
    background-color: #d8d8d8;
    text-align: center;
    padding: 17px 0 ;
    position: relative;
    bottom: 0;
    text-decoration: rgb(3, 3, 84);
    color: rgb(3, 3, 84);
    margin-top: 50px 7px;
    height: 50px;

}